<!--
 * @Author: “1SUNWEI1” 15891765235@163.com
 * @Date: 2022-09-15 18:42:48
 * @LastEditors: “1SUNWEI1” 15891765235@163.com
 * @LastEditTime: 2022-09-17 18:00:46
 * @FilePath: \vue_basic\08_计算属性\4.姓名案例_计算属性简写.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>姓名案例_计算属性简写</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"></input><br>
        名：<input type="text" v-model="lastName"></input><br>
        全名：<span>{{fullName}}</span>
    </div>

    <script type="text/javascript"> 
        //阻止vue在启动时生成生产提示
        Vue.config.productionTip = false;

        const vm = new Vue({
            el:'#root',
            data:{
                firstName:'张',
                lastName:'三',
                fullName: '张-三'
            },
            watch:{
              firstName (newValue){
                this.fullName = newValue + "-" + this.lastName;
              },
              lastName(newValue){
                this.fullName = this.firstName + "-" + newValue;
              }
            }
        })
      </script>
  </body>
  
</html>
