<!--
 * @Author: “1SUNWEI1” 15891765235@163.com
 * @Date: 2022-09-27 15:25:11
 * @LastEditors: “1SUNWEI1” 15891765235@163.com
 * @LastEditTime: 2022-11-18 19:22:53
 * @FilePath: \vue_basic\12_列表渲染\8.VUE监测数据改变的原理-数组.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUE监测数据改变的原理-数组</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <!-- 准备好一个容器 -->
    <div id="root">
      <h1>学生信息</h1>
      <button @click="student.age.sAge++">年龄+1岁</button><br />
      <button @click="addSex">添加一个性别属性，默认值为男</button><br />
      <button @click="addHobby">添加一个爱好</button><br />
      <button @click="addFriends">在列表首位添加一个朋友</button><br />
      <button @click="upDateFirstFriends">修改第一个朋友的名字为：张三</button
      ><br />
      <button @click="upDateHobby">修改第一个爱好为：开车</button><br />
      <button @click="removeSmoke">过滤掉爱好中的抽烟</button><br />

      <h2>姓名：{{student.name}}</h2>
      <h2 v-if="student.sex">性别：{{student.sex}}</h2>
      <h2>年龄：{{student.age.sAge}}</h2>

      <h2>爱好：</h2>
      <ul>
        <li v-for="(h,index) in student.hobby" :key="index">{{h}}</li>
      </ul>

      <h2>朋友们：</h2>
      <ul>
        <li v-for="(f,index) in student.friends" :key="index">
          {{f.name}}-{{f.age}}
        </li>
      </ul>
    </div>
  </body>

  <script type="text/javascript">
    Vue.config.productionTip = false;
    const vm = new Vue({
      el: "#root",
      data: {
        student: {
          name: "sun",
          age: {
            rAge: 30,
            sAge: 18,
          },
          hobby: ["美食", "睡觉", "听音乐", "抽烟"],
          friends: [
            { name: "JingYu", age: 19 },
            { name: "Tim", age: 20 },
          ],
        },
      },

      methods: {
        addSex() {
          // Vue.set(this.student, "sex", "男");
          // vm.$set(this.student, "sex", "男");
          this.$set(this.student, "sex", "男");
        },
        addHobby() {
          // push pop shift unshift  splice
          this.student.hobby.push("散步");
        },
        addFriends() {
          this.student.friends.unshift({ name: "feng", age: "21" });
        },
        upDateFirstFriends() {
          this.student.friends[0].name = "张三";
        },
        upDateHobby() {
          // this.student.hobby.splice(0, 1, "开车");
          // Vue.set(this.student.hobby, 0, "开车");
          this.$set(this.student.hobby, 0, "开车");
        },
        removeSmoke() {
          this.student.hobby = this.student.hobby.filter((h) => {
            return h !== "抽烟";
          });
        },
      },
    });
  </script>
</html>
